<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <title th:text="ContaminacionTemuco"></title>
    <link type="text/css" href="css/index.css" rel="stylesheet"/>
    <link href="averagedRegistries.csv" type="text/xml">
    <link type="text/plain" href="map.geojson">
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
</head>

<body>
<h1>Contaminacion en Temuco</h1>

<hr>

<div class='parent'>
    <div class='child inline-block-child'>
        <p>Ingresa una fecha:</p>
    </div>
    <div class='child inline-block-child'>
        <p>Ingresa una hora:</p>

    </div>
    <div class='child inline-block-child'>
        <p>Comienza tu busqueda:</p>
    </div>
</div>
<form action="/index">
    <div class='parent'>
        <div class='child inline-block-child'>
            <label>
                <input name="date" size="1" th:value="${date}" type="date">
            </label>
        </div>
        <div class='child inline-block-child'>
            <label for="timeID"></label><input class="slider" id="timeID" max="23" min="0" name="time"
                                               th:value="${time}"
                                               type="range"> <span id="selectedTime"></span>:00
        </div>
        <div class='child inline-block-child'><input type="submit" value="Buscar">
        </div>
    </div>
</form>

<hr>

<!-- Create an element where the map will take place -->
<svg height="250" id="my_dataviz" style="background-color: white" width="800"></svg>

<hr>
<table border="1" cellpadding="1" cellspacing="0" width="800">
    <thead>
    <tr>
        <th>Sector</th>
        <th>PM 10</th>
        <th>PM 2.5</th>
        <th>Humedad</th>
        <th>Temperatura</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="registry : ${registryList}">
        <td th:text="${registry.getSector()}"></td>
        <td th:text="${registry.getPm10()}"></td>
        <td th:text="${registry.getPm25()}"></td>
        <td th:text="${registry.getHumedad()}"></td>
        <td th:text="${registry.getTemperatura()}"></td>
    </tr>
    </tbody>
</table>

<script>

    //Draws the map.
    window.onload = function () {


        // The svg
        var svg = d3.select("svg"),
            width = +svg.attr("width"),
            height = +svg.attr("height");

        // Map and projection
        var path = d3.geoPath();
        var projection = d3.geoMercator()
            .scale(110000)
            .center([-72.5904, -38.7359])
            .translate([width / 2, height / 2]);

        // Data and color scale
        var data = d3.map();
        var colorScale = d3.scaleThreshold()
            .domain([0, 20, 40, 60, 80, 100, 120, 140])
            .range(d3.schemeReds[9]);

        // Load external data and boot
        d3.queue()
            .defer(d3.json, "map.geojson")
            .defer(d3.csv, "averagedRegistries.csv", function (d) {
                data.set(d.sector, +d.pm10);
            })
            .await(ready);


        function ready(error, topo) {

            // Draw the map
            svg.append("g")
                .selectAll("path")
                .data(topo.features)
                .enter()
                .append("path")
                // draw each country
                .attr("d", d3.geoPath()
                    .projection(projection)
                )
                // set the color of each country
                .attr("fill", function (d) {
                    d.total = data.get(d.id) || 0;
                    return colorScale(d.total);
                });
        }
    }


</script>
<script>
    var slider = document.getElementById("timeID");
    var output = document.getElementById("selectedTime");
    output.innerHTML = (slider.value);

    slider.oninput = function () {
        output.innerHTML = (this.value);
    }
</script>
</body>
</html>