<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <header>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </header>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<form action="">
    <input type="text" name="dia" value="" maxlength="2" size="1">-
    <input type="text" name="mes" value="" maxlength="2" size="1">-
    <input type="text" name="año" value="" maxlength="4" size="2">
    <input type="submit" value="Submit">
</form>
<table style="width:100%" cellspacing="0" cellpadding="1" border="1">
    <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Sector</th>
        <th>PM 10</th>
        <th>PM 2.5</th>
        <th>Humedad</th>
        <th>Temperatura</th>
    </tr>
    <tr th:each="r : ${listaRegistros}">
        <td th:text="${r.getFecha()}"></td>
        <td th:text="${r.getHora()}"></td>
        <td th:text="${r.getSector()}"></td>
        <td th:text="${r.getPm10()}"></td>
        <td th:text="${r.getPm25()}"></td>
        <td th:text="${r.getHumedad()}"></td>
        <td th:text="${r.getTemperatura()}"></td>
    </tr>
</table>
</body>
</html>