<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <title th:text="ContaminacionTemuco"></title>
    <link type="text/css" href="css/index.css" rel="stylesheet"/>
    <link type="text/xml" href="RegistrosR.csv">
    <link type="text/plain" href="map.geojson">
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

    <!-- Create an element where the map will take place -->
</head>

<body>
<h1>Contaminacion en Temuco</h1>
<hr>
<form action="/index">
    <p>Ingresar fecha:</p>
    <input maxlength="2" name="fecha" size="1" th:value="${fecha}" type="date" placeholder="Fecha">
    <p>Ingresar hora:</p>
    <input class="slider" id="horaID" max="23" min="0" name="hora" th:value="${hora}"
           type="range">
    <span id="horaSeleccionada"></span>:00
    <p>Comienza tu busqueda:</p>
    <input type="submit" value="Buscar">
</form>
<hr>
<div>
    <svg id="my_dataviz" width="800" height="250"></svg>
</div>
<hr>
<table border="1" cellpadding="1" cellspacing="0">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Sector</th>
        <th>PM 10</th>
        <th>PM 2.5</th>
        <th>Humedad</th>
        <th>Temperatura</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="registro : ${listaRegistros}">
        <td th:text="${registro.getFecha()}"></td>
        <td th:text="${registro.getHora()}"></td>
        <td th:text="${registro.getSector()}"></td>
        <td th:text="${registro.getPm10()}"></td>
        <td th:text="${registro.getPm25()}"></td>
        <td th:text="${registro.getHumedad()}"></td>
        <td th:text="${registro.getTemperatura()}"></td>
    </tr>
    </tbody>
</table>


<script>

    window.onload = function () {


        // The svg
        var svg = d3.select("svg"),
            width = +svg.attr("width"),
            height = +svg.attr("height");

        // Map and projection
        var path = d3.geoPath();
        var projection = d3.geoMercator()
            .scale(110000)
            .center([-72.5904, -38.7359])
            .translate([width / 2, height / 2]);

        // Data and color scale
        var data = d3.map();
        var colorScale = d3.scaleThreshold()
            .domain([0, 20, 40, 60, 80, 100, 120, 140])
            .range(d3.schemeReds[9]);

        // Load external data and boot
        d3.queue()
            .defer(d3.json, "map.geojson")
            .defer(d3.csv, "RegistrosR.csv", function (d) {
                data.set(d.code, +d.pop);
            })
            .await(ready);


        function ready(error, topo) {

            // Draw the map
            svg.append("g")
                .selectAll("path")
                .data(topo.features)
                .enter()
                .append("path")
                // draw each country
                .attr("d", d3.geoPath()
                    .projection(projection)
                )
                // set the color of each country
                .attr("fill", function (d) {
                    d.total = data.get(d.id) || 0;
                    return colorScale(d.total);
                });
        }
    }


</script>
<script>
    var slider = document.getElementById("horaID");
    var output = document.getElementById("horaSeleccionada");
    output.innerHTML = (slider.value);

    slider.oninput = function () {
        output.innerHTML = (this.value);
    }
</script>
</body>
</html>